@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Red+Hat+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
    font-size: 16px;
    
}

main{
    margin: 40px 30px;
}

.container{
   background-color: white;
    height: auto;
    width: auto;
    border-radius: 22px;
}

.banner img{
    width: 100%;
    height: 100%;
}

.banner{
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    overflow: hidden;
}

.content{
    text-align: center;
    margin-block: 20px;
}


.content p{
    margin-block: 30px;

}

.para{
    width: 300px;
    text-align: center;
    margin: auto;
    line-height: 1.8rem;
    color:  hsl(224, 23%, 55%);
}

.plan{
    display: flex;
    background-color:  hsl(225, 100%, 98%);
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 14px;
    width: 320px;
    margin: auto;
    margin-block: 30px;

}

.annual{
    font-weight: bold;
}

.music-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn{
    padding: 20px 30px;
    border-radius: 14px;
    width: 350px;
    margin: auto;
    margin-block: 30px;
    
}

button{
    background-color: hsl(245, 75%, 52%);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 60px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}



.cancel-order{
    text-align: center;
    margin-block: 20px;
    color: hsl(223, 47%, 23%);
    font-weight: 600;
}
